{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .playlist {
            margin: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
        }
        .playlist img {
            max-width: 200px;
            height: auto;
            display: block;
            margin: 0 auto 10px;
        }
    </style>
 
</head>
<body>

    <h1>Personal Page</h1>
   



    <div class="createPlaylist">
        <form action="/create" method="post" enctype="multipart/form-data">
            <input type="text" name="title" id="title" placeholder="Enter playlist Name"> <br>
            <input type="file" name="image" id="image"> <br>
            <button type="submit">create</button>
        </form>
    </div>


    <div class="playlists">
        {{range .}}
        <div class="playlist">
            <img src="{{.ImagePath}}" alt="{{.Title}}">
            <h1>{{.Title}}</h1>
        </div>

        {{ end }}
    </div>


    
    <div class="logout">
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>

    


</body>
</html>

{{ end }}