{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/style.css">
   
</head>
<body>

    <div class="header">
        <h1>Personal Page</h1>

        
    <div class="logout">
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>

    </div>

   

    <div class="createPlaylist">
        <form action="/create" method="post" enctype="multipart/form-data">
            <input type="text" name="title" id="title" placeholder="Enter playlist Name"> <br>
            <input type="file" name="image" id="image"> <br>
            <button type="submit">create</button>
        </form>
    </div>


    <div class="playlists">
        {{range .}}
    <a href="/playlist/{{.Id}}">
        <div class="playlist">
            <img src="{{.ImagePath}}" alt="{{.Title}}">
            <h1>{{.Title}}</h1>
        </div>
    </a>

        {{ end }}
    </div>


    

    


</body>
</html>

{{ end }}