{{ define "resetPassword"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/logregstyle.css">
</head>
<body>

    <form action="/sendResetCode" method="post">
        <input type="email" name="email" required placeholder="Input your email address">Email
        <button type="submit">Reset Password</button>
        {{if .ErrorCode}}
        <h4 style="color: red">{{ .Error}}</h4>
        {{end}} 

        {{if .SuccessCode}}
        <h4 style="color: red;">{{.Success}}</h4>
        {{end}}
    </form>

  
    <form action="/resetPassword" method="post">
        <input type="text" hidden name="email">
        <input type="text" name="code" required>Input Code
        <input type="password" name="password" required>New Password
      
        <h4 style="color: red">{{ .Message}}</h4>
    

    </form>

    
</body>
</html>


{{ end }}