body {
    margin: 0;
	padding: 0;
    background-color: #E6E4D8;
    color: #22333B;
  
}


.header {
    background-color:  #22333B;
    color:  #E6E4D8;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.logout {
    margin-right: 20px;
}

.logout button {
    background-color:  #E6E4D8;
    color:  #22333B;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.logout button:hover {
    background-color: #22333B;
    color:  #E6E4D8;
}

.createPlaylist {
    margin: 30px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.createPlaylist form {
    display: flex;
    flex-direction: column;
}

.createPlaylist input[type="text"],
.createPlaylist input[type="file"],
.createPlaylist button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.createPlaylist button {
    background-color: #22333B;
    color: white;
    cursor: pointer;
    border: none;
}

.createPlaylist button:hover {
    background-color: #162227;
}

.createPlaylist input[type="text"]:focus,
.createPlaylist input[type="file"]:focus {
    outline: none;
    border-color: #22333B;
}



.playlists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.playlist {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.playlist img {
    width: 300px;
    
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}